<div>
  
  <%= form_for @photo do |f| %>
  <%= f.label :description %>:
  <%= f.text_field :description %><br />

  <%= f.label :price %>:
  <%= f.text_field :price %><br />
  
  <%= f.label :size %>:
  <%= f.text_field :size %><br />

 <%= f.label :color %>:
  <%= f.text_field :color %><br />
  
  <%= f.label :textile %>:
  <%= f.text_field :textile %><br />

  
   <%= f.label :photo_url %>:
  <%= f.text_field :photo_url %><br />


  <%= f.submit %>
<% end %>
  
</div>

Here is edit